* {
    font-family: Impact,Haettenschweiler,"Arial Narrow Bold",sans-serif
}

@font-face {
    font-family:nordic;src:url(media/Norse-Bold.otf)
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5fr
}

.sidebar {
    display: flex;
    background-color: #84cc16;
    height: 100vh;
    flex-direction: column;
    gap: 1%
}

.sidebar a {
    text-decoration: none
}

.dashboard,.home {
    margin-top: 10%
}

.sidebar img {
    width: 2rem;
    filter: invert(93%) sepia(9%) saturate(387%) hue-rotate(43deg) brightness(106%) contrast(99%);
    margin-left: 5%
}

.dashboard img {
    filter: invert(100%) sepia(70%) saturate(467%) hue-rotate(37deg) brightness(109%) contrast(99%);
    width: 3rem
}

.sidebar div:hover {
    background-color: #71af15
}

div .dashboard:hover {
    background-color: #84cc16
}

.sidebar a,div .dashboard {
    display: flex
}

.dashboard span {
    font-family: nordic
}

.sidebar span {
    align-self: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 5%;
    color: #f7fee7
}

.dashboard span {
    font-size: 3rem
}

.sidebar div {
    padding-top: 2.5%;
    padding-bottom: 2.5%
}

.settings {
    margin-top: auto
}

